<div class="lead">
  <h2>Living Stones Baptist Church</h2>
  <h3>Welcoming everyone!</h3>
  <p class=>
  We are a vibrant and growing multicultural church in the Baptist network established in Plymouth in December 2006.
  Instructed by God, Living Stones Baptist Church started with five families. The first service was held on Sunday 3rd Dec 2006 at Pilgrim Primary School.
  <br />
  <br />
  We meet at the Abbey Hall, St Andrews church situated in the heart of Plymouth, England.
  <br />
  <br />
  We are also part of <a href="http://www.ctip.org.uk/">Churches Together in Plymouth</a>, a network of Christian churches in Plymouth.
  </p>
</div>
<div id='updates' class="row">
  <div id="calendar_widget_div" class="col-md-4">
    <h3>What's on</h3>
  </div>
  <div id="latest_articles_div" class="col-md-4">
    <h3>Latest Articles</h3>
  </div>
  <div id="latest_sermons_div"  class="col-md-4">
    <h3>Latest Sermons</h3>
  </div>
</div>
