<div>
  <h3>Our Confession</h3>
  <p class="lead">
  We believe in one God, the Father the Son and the Holy Spirit.
  <br />
  <br />
  We believe in the bible as the inspired word sent to us by God.
  <br />
  <br />
  We believe in the baptism in the water.
  <br />
  <br />
  We believe in the baptism in the Holy Spirit.
  <br />
  <br />
  We believe in the rapture.
  <br />
  <br />
  We believe in the Holy Communion.
  <br />
  <br />
  We believe in the resurrection after death.
  <br />
  <br />
  We believe in the eternal judgment.
  </p>
</div>
