<div>
  <p class="lead">
  33 Wall Street
  Plymouth
  PL1 4GP
  <br />
  <br />
  St Andrews church
  The Abbey Hall
  Catherine Street
  Plymouth
  PL2 2AD

  <br />
  <br />
  Pastor James 07827084229

  <br />
  <br />
  Brother Patrick 07583080839
  E-mail: livingstones_06@hotmail.co.uk
  </p>
</div>
<div id='updates' class="row">
  <div id="calendar_widget_div" class="col-md-4 quick_feed">
    <h3 class="text-warning text-center">What's on</h3>
  </div>
  <div id="latest_articles_div" class="col-md-4 quick_feed">
    <h3 class="text-warning text-center">Latest Articles</h3>
  </div>
  <div id="latest_sermons_div"  class="col-md-4 quick_feed">
    <h3 class="text-warning text-center">Latest Sermons</h3>
  </div>
</div>
