<div>
  <p class="lead">
  33 Wall Street
  Plymouth
  PL1 4GP
  <br />
  <br />
  St Andrews church
  The Abbey Hall
  Catherine Street
  Plymouth
  PL2 2AD

  <br />
  <br />
  Pastor James 07827084229

  <br />
  <br />
  Brother Patrick 07583080839
  E-mail: livingstones_06@hotmail.co.uk
  </p>
</div>
