<div>
  <h4>Our Declaration of Faith</h4>
  <p>
  I AM A “LIVING STONE”
  <br />
  <br />
  I BELIEVE IN JESUS-CHRIST
  <br />
  <br />
  AS MY PERSONAL LORD AND SAVIOUR
  <br />
  <br />
  I WILL ALWAYS COME CLOSER TO HIM TO DISCOVER MY TRUE IDENTITY IN ORDER TO LIVE FULLY MY LIFE BY SERVING GOD THROUGH THE COMMUNITY
  <br />
  <br />
  MY PURPOSE IS TO INCREASE MY KNOWLEDGE OF JESUS-CHRIST IN ORDER TO SERVE MY NEIGHBOUR
  <br />
  <br />
  I WILL ALWAYS PURSUE INTEGRITY, DEDICATION, EXCELLENCE, POSITIVE ATTITUDE AND TEAM WORK
  <br />
  <br />
  I WILL NEVER HAVE A NEGATIVE ATTITUDE ABOUT MY LIFE AND MY CHURCH, FOR I AM WHAT THE BIBLE SAYS THAT I AM AND NOT WHAT PEOPLE SAY THAT I AM
  <br />
  <br />
  I AM ABLE TO DO WHAT THE BIBLE DECLARES, BECAUSE I CAN DO EVERYTHING THROUGH JESUS-CHRIST MY SAVIOUR AND LORD
  <br />
  <br />
  WITH GOD I WILL DO MIGHTY THINGS
  <br />
  <br />
  WITH GOD I WILL SUCCEED
  <br />
  <br />
  FOR I AM A “LIVING STONE”
  <br />
  <br />
  CREATED TO SUCCEED
  <br />
  <br />
  NOBODY WILL TRAMPLE ME DOWN
  <br />
  <br />
  FAR FROM ME CONFUSION, SHAME, DISGRACE, SCANDAL AND FAILURE
  <br />
  <br />
  IN JESUS-CHRIST NAME!
  </p>
</div>
<div id='updates' class="row">
  <div id="calendar_widget_div" class="col-md-4 quick_feed">
    <h3 class="text-warning text-center">What's on</h3>
  </div>
  <div id="latest_articles_div" class="col-md-4 quick_feed">
    <h3 class="text-warning text-center">Latest Articles</h3>
  </div>
  <div id="latest_sermons_div"  class="col-md-4 quick_feed">
    <h3 class="text-warning text-center">Latest Sermons</h3>
  </div>
</div>
