<div>
  <h3>Events</h3>
  <p class="lead">
  Easter seminar
  <br />
  <br />
  4th Ladies Annual Conference
  <br />
  <br />
  30 days of fasting and prayer
  <br />
  <br />
  Living Stones in the community
  <br />
  </p>
</div>
