<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-">
    <meta name="viewport" content="device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <title>
      Living Stones Church
      <% if content_for?(:title) %>
        - <%=  yield_content :title %>
    <% end %>
  </title>
</head>
<body>
  <div class="container">
    <div id="banner_div" class="text-center page-header">
      <h1>Living Stones Baptist Church</h1>
    </div>
    <div class="row">
      <div id="menu_bar">
        <ul class="nav navbar-nav text-uppercase">
          <li><a href="/us">About Us</a></li>
          <li><a href="/vision">Our Vision</a></li>
          <li><a href="/leaders">Our Leaders</a></li>
          <li><a href="/meetings">Our Meetings</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/gallery">Gallery</a></li>
          <li><a href="/sermons">Sermons</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div>
    </div>

    <%= yield %>

    <div id='footer' class="footer navbar-fixed-bottom">
      <p class="text-center text-small">
      Copyright © 2015 Living Stones Baptist Church. All Rights Reserved.<br />
      Living Stones Baptist Church. Registered Charity XXXXXXX.
      </p></div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
