<div>
  <p class="lead">
  Pastor James Hercule Mikubu is the senior pastor of Living Stones Baptist Church.
  He was a lecturer in mechanical engineering and self-employed contractor to big
  companies in the Democratic Republic of Congo when God called him into ministry in 1993.
  <br />
  <br />
  Between 1993 and 2005 he was in charge of evangelisation at CBCO Bandal 1,
  a local church of the 40th Baptist community of East Congo in Kinshasa.
  <br />
  <br />
  After many years of service in the church in Congo, God brought him to the United Kingdom to continue to serve him.
  Pastor James’ mission is to prepare Living Stones for glory and ministry.
  <br />
  <br />
  Pastor James is happily married to his beautiful wife Joelle and God has blessed them with four sons.
  </p>
</div>
<div id='updates' class="row">
  <div id="calendar_widget_div" class="col-md-4 quick_feed">
    <h3 class="text-warning text-center">What's on</h3>
  </div>
  <div id="latest_articles_div" class="col-md-4 quick_feed">
    <h3 class="text-warning text-center">Latest Articles</h3>
  </div>
  <div id="latest_sermons_div"  class="col-md-4 quick_feed">
    <h3 class="text-warning text-center">Latest Sermons</h3>
  </div>
</div>
