<div>
  <p class="lead">
  Sunday Service: 2.30 pm to 4.30 PM
  <br />
  Our Sunday service is held at the Abbey Hall, St Andrews church, PL1 2AD in the city centre
  <br />
  <br />
  Weekly Meetings:
  <br />
  All weekly activities take place in the Wilson room at Sherwell United Church by the University of Plymouth
  <br />
  Tue 5.30pm - 7.30pm: Bible Study
  <br />
  Thu 5.30pm - 7.30pm: Prayer Intersection
  <br />
  First Friday of each month 10pm - 4am: Night of prayer
  <br />
  Last Friday of each month 10pm - 4am: Ladies Night of prayer
  <br />
  Second Saturday of the month 3.30pm - 5.00pm: Ladies Meeting
  Living Stones in the community
  <br />
  </p>
</div>
