<div>
  <% if @sermons.empty? %>
    <p class="lead" >
    No sermons available.
    </P>
  <% else %>
    <table class="table table-stripped">
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Length</th>
      </tr>
      <% @sermons.each do |sermon|  %>
        <tr>
          <td><%= sermon.title %></td>
          <td><%= sermon.preacher %></td>
          <td><%= sermon.length %></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <p class="lead">
  <br />
  <br />
  </p>
</div>
