<div>
  <p class="lead">
  Revealing God’s glory, pushing the Kingdom forward.
  <br />
  <br />
  Our aim is to be:
  - A place of divine connection because it’s not good for a person to be alone
  - A healthy, big, exciting and friendly church in the South West
  - A place where the glory of God is displayed
  <br />
  <br />
  The bible says in 1 Peter 2:9:
  But you are a chosen people, a royal priesthood, a holy nation, God's special possession, that you may declare the praises of him who called you out of darkness into his wonderful light.
  <br />
  <br />
  Isaiah 61:3-6
  <br />
  3.To grant those who mourn in Zion,
  Giving them a garland instead of ashes,
  The oil of gladness instead of mourning,
  The mantle of praise instead of a spirit of fainting.
  So they will be called oaks of righteousness,
  The planting of the LORD, that He may be glorified.
  <br />
  4.Then they will rebuild the ancient ruins,
  They will raise up the former devastations;
  And they will repair the ruined cities,
  The desolations of many generations.
  <br />
  5.Strangers will stand and pasture your flocks,
  And foreigners will be your farmers and your vinedressers.
  <br />
  6.But you will be called the priests of the LORD;
  You will be spoken of as ministers of our God.
  You will eat the wealth of nations,
  And in their riches you will boast.
  </p>
</div>
