<div>
  <p class="lead">
  Revealing God’s glory, pushing the Kingdom forward.
  <br />
  <br />
  1 Peter 2:9
  But you are a chosen people, a royal priesthood, a holy nation, God's special possession, that you may declare the praises of him who called you out of darkness into his wonderful light.
  <br />
  <br />
  Isaiah 61:3-6
  3To grant those who mourn in Zion,
  Giving them a garland instead of ashes,
  The oil of gladness instead of mourning,
  The mantle of praise instead of a spirit of fainting.
  So they will be called oaks of righteousness,
  The planting of the LORD, that He may be glorified.

  4Then they will rebuild the ancient ruins,
  They will raise up the former devastations;
  And they will repair the ruined cities,
  The desolations of many generations.

  5Strangers will stand and pasture your flocks,
  And foreigners will be your farmers and your vinedressers.

  6But you will be called the priests of the LORD;
  You will be spoken of as ministers of our God.
  You will eat the wealth of nations,
  And in their riches you will boast.
  </p>
</div>
<div id='updates' class="row">
  <div id="calendar_widget_div" class="col-md-4 quick_feed">
    <h3 class="text-warning text-center">What's on</h3>
  </div>
  <div id="latest_articles_div" class="col-md-4 quick_feed">
    <h3 class="text-warning text-center">Latest Articles</h3>
  </div>
  <div id="latest_sermons_div"  class="col-md-4 quick_feed">
    <h3 class="text-warning text-center">Latest Sermons</h3>
  </div>
</div>
